*.iml
.gradle
/local.properties
/.idea/.name
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/release/app-release.aab
app/release/app-release.apk
app/release/output.json
